body{
	background: white;
	font-family: helvetica;
}
h1 {
	color: black;
	font-weight: bold;
	margin: 0;
}
h3 {
	margin: 0;
}
input::-moz-focus-inner {
	border: 0;
}
a:hover, a:active, a:focus {
  outline: 0;
}
a {
	outline: 0;
}
.flex-v {
	display: flex;
	flex-direction: column;
}
.flex-h {
	display: flex;
	flex-direction: row;
}
.wide {
	width: 100%;
}
.fh {
	height: 100vh;
}
.f9 {
	flex: 9;
}
.f8 {
	flex: 8;
}
.f6 {
	flex: 6;
}
.f7 {
	flex: 7;
}
.f5 {
	flex: 5;
}
.f4 {
	flex: 4;
}
.f3 {
	flex: 3;
}
.f1 {
	flex: 1;
}
.hidden { 
	display: none !important;
}
.logo-large {
	width: 420px;
}
.logo-small {
	display: none;
}
@media screen and (max-width: 450px) {
  /* comes into effect for screens less than or equal to 320 pixels */
  .logo-large {
    display: none;
  }
  .logo-small {
  	width: 315px;
  	display: inline-block;
  }
  .descriptor {
  	font-size: 16px;
  }
}
.center-page-title {
	justify-content: flex-end;
	display: flex;
	align-items: center;

}
.page-title {
	font-size: 75px;
}
.logo-container {
	display: flex;
	justify-content: center;
	align-items: center;
}
.media-logo-1 {
	height: 36px;
	margin-right:2px;
}
.media-logo-2 {
	height: 30px;
	margin-left: 2px;
}
.button-container {
	display: flex;
	justify-content: center;
	align-items: flex-start;
}
.button {
	background: white;
	border: 1px solid black;
	border-radius: 0;
	margin-top: 20px;
	padding: 16px 25px;
	color: black;
}
.button-text {
	font-weight: normal;
	margin: 0;
	padding: 0;
	font-size: 1.32em;
}
.button:hover {
	background: black;
	color:white;
}
.video-container {
	display: flex;
	justify-content: center;
	align-items: center;
}
